body {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: black;
    color: white;
}

h3 {
    margin-left: 105px;
}


#grid {
    width:400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;  
}
